<div class="govuk-accordion">
	<div class="govuk-accordion__section">
		<div class="govuk-accordion__section-header">
			<h2 class="govuk-accordion__section-heading">
				<button class="govuk-accordion__section-button" type="button" aria-expanded="false">
					<span data-lfr-editable-id="section-1-heading" data-lfr-editable-type="text">Understanding agile project management</span>
					<span class="govuk-accordion__section-toggle" aria-hidden="true">
						<span class="govuk-accordion__section-toggle-text">Show</span>
					</span>
				</button>
			</h2>
		</div>
		<div class="govuk-accordion__section-content" hidden>
			<div data-lfr-editable-id="section-1-content" data-lfr-editable-type="rich-text">
				<p>Agile methods help teams manage work so that they can respond to the needs of citizens. It's an alternative to managing projects in long phases, called waterfall project management.</p>
			</div>
		</div>
	</div>
	<div class="govuk-accordion__section">
		<div class="govuk-accordion__section-header">
			<h2 class="govuk-accordion__section-heading">
				<button class="govuk-accordion__section-button" type="button" aria-expanded="false">
					<span data-lfr-editable-id="section-2-heading" data-lfr-editable-type="text">Working in agile sprints</span>
					<span class="govuk-accordion__section-toggle" aria-hidden="true">
						<span class="govuk-accordion__section-toggle-text">Show</span>
					</span>
				</button>
			</h2>
		</div>
		<div class="govuk-accordion__section-content" hidden>
			<div data-lfr-editable-id="section-2-content" data-lfr-editable-type="rich-text">
				<p>Sprint planning helps teams understand their capacity and what user stories they can work on in the sprint. Each sprint typically lasts 1 to 2 weeks.</p>
			</div>
		</div>
	</div>
	<div class="govuk-accordion__section">
		<div class="govuk-accordion__section-header">
			<h2 class="govuk-accordion__section-heading">
				<button class="govuk-accordion__section-button" type="button" aria-expanded="false">
					<span data-lfr-editable-id="section-3-heading" data-lfr-editable-type="text">Reviewing and improving your agile process</span>
					<span class="govuk-accordion__section-toggle" aria-hidden="true">
						<span class="govuk-accordion__section-toggle-text">Show</span>
					</span>
				</button>
			</h2>
		</div>
		<div class="govuk-accordion__section-content" hidden>
			<div data-lfr-editable-id="section-3-content" data-lfr-editable-type="rich-text">
				<p>Retrospectives give the team an opportunity to reflect on how they worked and identify improvements. They're usually held at the end of each sprint.</p>
			</div>
		</div>
	</div>
</div>