.govuk-tag {
	-webkit-font-smoothing: antialiased;
	background-color: #1d70b8;
	color: #fff;
	display: inline-block;
	font-family: "GDS Transport", arial, sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding: 4px 8px 3px;
	text-decoration: none;
	text-transform: uppercase;
}

.govuk-tag--grey { background-color: #505a5f; color: #fff; }
.govuk-tag--green { background-color: #00703c; color: #fff; }
.govuk-tag--turquoise { background-color: #10827f; color: #fff; }
.govuk-tag--blue { background-color: #1d70b8; color: #fff; }
.govuk-tag--light-blue { background-color: #5694ca; color: #fff; }
.govuk-tag--purple { background-color: #4c2c92; color: #fff; }
.govuk-tag--pink { background-color: #d53880; color: #fff; }
.govuk-tag--red { background-color: #d4351c; color: #fff; }
.govuk-tag--orange { background-color: #f47738; color: #fff; }
.govuk-tag--yellow { background-color: #ffdd00; color: #0b0c0c; }