.govuk-inset-text {
	-webkit-font-smoothing: antialiased;
	border-left: 10px solid #b1b4b6;
	color: #0b0c0c;
	font-family: "GDS Transport", arial, sans-serif;
	font-size: 1.1875rem;
	line-height: 1.31579;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
}

.govuk-inset-text > :first-child {
	margin-top: 0;
}

.govuk-inset-text > :last-child {
	margin-bottom: 0;
}

.govuk-inset-text p {
	font-size: 1.1875rem;
	line-height: 1.31579;
	margin: 0 0 15px;
}

.govuk-inset-text a {
	color: #1d70b8;
}

.govuk-inset-text a:hover {
	color: #003078;
}

.govuk-inset-text a:focus {
	background-color: #ffdd00;
	color: #0b0c0c;
	outline: 3px solid #ffdd00;
	outline-offset: 0;
}
