.govuk-warning-text {
	-webkit-font-smoothing: antialiased;
	align-items: flex-start;
	display: flex;
	font-family: "GDS Transport", arial, sans-serif;
	font-size: 1.1875rem;
	font-weight: 700;
	line-height: 1.31579;
	padding: 10px 0;
}

.govuk-warning-text__icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #0b0c0c;
	border: 3px solid #0b0c0c;
	border-radius: 50%;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	flex-shrink: 0;
	font-family: "GDS Transport", arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	height: 35px;
	line-height: 28px;
	margin-right: 10px;
	min-width: 35px;
	text-align: center;
	width: 35px;
}

.govuk-warning-text__text {
	color: #0b0c0c;
	font-weight: 700;
}

.govuk-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
