.govuk-details {
	color: #0b0c0c;
	display: block;
	font-family: "GDS Transport", arial, sans-serif;
	font-size: 1.1875rem;
	line-height: 1.31579;
	margin-bottom: 20px;
}

.govuk-details__summary {
	color: #1d70b8;
	cursor: pointer;
	display: inline-block;
	padding-left: 25px;
	position: relative;
	text-decoration: underline;
}

.govuk-details__summary::before {
	border-color: transparent;
	border-left-color: inherit;
	border-style: solid;
	border-width: 7px 0 7px 12.124px;
	content: "";
	display: block;
	height: 0;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
}

.govuk-details[open] .govuk-details__summary::before {
	border-color: transparent;
	border-top-color: inherit;
	border-width: 12.124px 7px 0;
}

.govuk-details__summary:focus {
	background-color: #ffdd00;
	color: #0b0c0c;
	outline: 3px solid #ffdd00;
	outline-offset: 0;
}

.govuk-details__text {
	border-left: 5px solid #b1b4b6;
	margin-top: 10px;
	padding: 15px;
	padding-top: 0;
}

.govuk-details__text p {
	font-size: 1.1875rem;
	line-height: 1.31579;
	margin: 0 0 15px;
}